* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    /* transition: .2s; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: black;
}

img {
    max-width: 100%;
    filter: grayscale();
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 24px;
    margin-left: 120px;
    overflow: hidden;
}

.main-heading {
    padding: 0 55px 25px 0;
    border-bottom: 1px solid #eee;
    width: fit-content;
    margin-bottom: 25px;
}

.second-heading {
    margin: 40px 0;
}

.cv {
    background-color: #666;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 25px 0;
    border-radius: 7px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.cv:hover {
    letter-spacing: 2px;
}

/* start nav*/
nav {
    width: 120px;
    background-color: #222;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    z-index: 999;
}

nav img {
    opacity: .5;
    vertical-align: middle;
    width: 100%;
    height: 100px;
    object-fit: contain;
}

nav ul li {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 24px;
    transition: .3s;
}

nav ul li a:hover {
    scale: 1.05;
    background-color: #111;

}

nav ul li.active {
    background-color: black;
}

nav ul li i {
    margin-bottom: 16px;
    font-size: 2rem;

}

nav .cv {
    padding: 5px 10px;
    font-size: 01rem;
    max-width: 90%;
    margin: 25px auto;
    display: block;
}

/* end nav*/
/* start home */
.Home {
    padding: 100px 0;
    display: flex;
    align-items: center;
    gap: 60px;
}

.Home h1 {
    font-size: 64px;
    font-weight: normal;
}

.Home p {
    margin: 40px 0;
}

.Home img {
    height: 600px;
}

/* end home */
/* start about */
.About {
    padding: 70px 0;
}

.About .info {
    color: #757575;
}

.About .progress .prog-holder {
    margin: 20px 0;
}

.About .progress .prog-holder .prog {
    height: 40px;
    background-color: #222;
    margin-top: 5px;
}

.About .progress .prog-holder .prog span {
    background-color: #666;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
    transition: 1s;
    overflow: hidden;
    font-weight: bold;
}

/* end about */
/* start porject */
.Project .Projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.Project .Projects .Project-card {
    width: calc(50% - 10px);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.Project .Projects .Project-card:hover .Proj-detail {
    top: 0;
}

.Project img {
    filter: grayscale(50%);
}

.Project .Projects .Project-card .Proj-detail {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: -100%;
    text-align: center;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.Project .Projects .Project-card .Proj-detail a {
    background-color: #222;
    padding: 15px 30px;
    transition: .5s;
}

.Project .Projects .Project-card .Proj-detail a:hover {
    letter-spacing: 5px;
}

/* end porject */
/* start contact */
.Contact {
    padding: 70px 0;
}

.Contact p {
    padding: 20px 0;
    font-size: 1.5rem;
}

.Contact p i {
    margin-right: 25px;
    font-size: 2.5rem;
    width: 50px;
}

/* end contact */
/* start social */
.Social {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Social ul li {
    display: inline-block;
    margin: 20px;
    font-size: 2rem;
}

.Social ul li a i {
    color: #666;
    transition: .5s;
}

.Social ul li a i:hover {
    color: #fff;
}

/* end social */
/* start */
@media (max-width:600px) {
    .container {
        margin: 0;
    }

    .Home {
        padding-bottom: 0;
        gap: 0;
        flex-direction: column-reverse;
    }


    nav {
        width: 100%;
        height: fit-content;
    }

    nav .cv {
        display: none;
    }

    nav img {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        padding: 22px 15px;
    }

    nav ul li i {
        margin-bottom: 16px;
        font-size: 1rem;
    }

    .Project .Projects .Project-card {
        width: 100%;
    }

    .Social {
        flex-direction: column-reverse;
        padding-top: 0;
        align-items: center;
    }

    .Social ul {
        text-align: center;
    }
}